h1 {
font-weight: bold;
font-size: 60px;
text-align: center;
margin-top: 40px;
margin-bottom: 40px;
}

h2 {
font-size: 40px;
text-align: center;
}

.button:hover{
    background-color: peru;
}

.button {
    background-color: black;
    color: cornsilk;
    font-size: 30px;
    width: 300px;
    border-radius: 25px;
    padding: 10px;

}
.startBtn{
    background-color:#0099cc;
    border-radius: 25px;
    padding: 5px;
    width: 250px;
    margin: auto;
    color: whitesmoke;
    font-size: 30pt;
    font-weight: bolder;
    text-align: center;
}

li{
    list-style: none;
    height: 50px;
    margin: auto;
}

.TimerClass{
    background-color: orangered;
    border-radius: 25px;
    padding: 5px;
    width: 250px;
    margin: auto;
    color: whitesmoke;
    font-size: 30pt;
    font-weight: bolder;
    text-align: center;
}

.resultContainer {
    background-color:pink;
    color: white;
    border-radius: 25px;
    padding: 5px;
    width: 250px;
    font-size: 30pt;
    font-weight: bolder;
    text-align: center;
    margin: auto;
}

.totalScore {
    background-color:pink;
    color: white;
    border-radius: 25px;
    padding: 5px;
    width: 250px;
    font-size: 30pt;
    font-weight: bolder;
    text-align: center;
    margin: auto;

}
.container{
    margin: auto;
    width: 1000px;
    height:400px;
    background-color: powderblue;
    margin-top: 25px;
    padding: 20px;
}

#FloatLeft{
    float: left;
}

section{
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
}